h3 {
  font-size: 25px;
  display: inline-block;
  text-transform: uppercase;
  z-index: 1000;
}

h3 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.1vw #383d52;
  animation: display-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
  25%,
  100% {
    display: none;
  }
}

h3 span::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #f15726;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #f15726;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}
.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 2% 98%, transparent);
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    #000 2% 98%,
    transparent
  );
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  right: 100%;
  animation: autoRun 20s linear infinite;
  animation-delay: calc(
    (20s / var(--quantity)) * (var(--position) - 1)
  ) !important;
  will-change: transform;
}

.slider .list .item img {
  width: 100%;
}

@keyframes autoRun {
  from {
    right: calc(var(--width) * -1);
  }
  to {
    right: 100%;
  }
}

.slider[reverse="true"] .item {
  animation: reversePlay 20s linear infinite;
  left: 100%;
}

@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}
